@model DealData

@{
    Layout = "_Layout";
    string formattedStartTime = @Model.Basic_Information.Extra_Info_Group.start_time;
    string formattedEndTime = @Model.Basic_Information.Extra_Info_Group.end_time.ToString();
}

@*
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details - @Model.Basic_Information.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> *@
<style>
    input[type="checkbox"] {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .hide {
        border: none;
    }

    .toggle {
        cursor: pointer;
        text-indent: -9999px;
        width: 52px;
        height: 27px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
    }

        .toggle:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 23px;
            height: 23px;
            background: #ccc;
            border-radius: 90px;
            transition: 0.3s;
        }

    input:checked + .toggle {
        background: #901F17;
    }

        input:checked + .toggle:after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }

    .toggle:active:after {
        width: 30px;
    }


    .number-input {
        display: flex;
        align-items: center;
        gap: 10px;
    }

        .number-input input[type="number"] {
            width: 80px;
            text-align: center;
            padding: 4px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .number-input button {
            width: 30px !important;
            height: 30px !important;
            font-size: 20px;
            background-color: #901F17;
            color: #fff;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .number-input button:hover {
                background-color: #a62f2a; /* Darken color on hover */
            }

            .number-input button:focus {
                outline: none;
            }

    .responsive-textarea {
        width: 100%;
        min-height: 150px;
        resize: vertical;
        border: 3px solid #000000;
    }

    .card {
        border-radius: 15px;
        overflow: hidden;
    }

    .popup {
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 80%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .popup-content {
        background-color: white;
        color: #901F17;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid black;
        box-shadow: 5px 10px #901F17;
        width: 50%;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border-radius: 10px;
    }

    .popup-button {
        background-color: #901F17;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        margin: 10px;
    }

        .popup-button:hover {
            background-color: #d9534f;
        }

</style>

<!-- Dashboard Card (Small Long Title Card) -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-dark" style="font-weight:bold">@Model.Basic_Information.Title</h4>
            </div>
        </div>
    </div>
</div>
<form id="dataForm">
    <!-- Other Cards in Pairs of Two -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
        <!-- Card 1 -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header" style="background-color:#901F17;">
                    <h5 class="text-light">Basic Information</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Left Form Column -->
                        <div class="col-md-6">
                            <input type="hidden" name="PID" value="@Model.Basic_Information.id">
                           
                            <input type="hidden" name="title" value="@Model.Basic_Information.Title">
                            <div class="mb-1">
                                <label class="form-label" for="title">
                                    <strong><b>Title</b></strong><br />
                                    @Model.Basic_Information.Title
                                </label>

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Contact_Person">
                                    <strong><b>Contact Person</b></strong><br />
                                    @Model.Basic_Information.Lead.Contact_Person

                                </label>
                                <input type="hidden" name="Contact_Person" value=" @Model.Basic_Information.Lead.Contact_Person">
                                @*  <div>
                                @Model.Basic_Information.Lead.Contact_Person
                                </div> *@

                            </div>

                        </div>

                        <!-- Right Form Column -->
                        <div class="col-md-6">

                            <div class="mb-1">
                                <label class="form-label" for="Responsible">
                                    <strong><b>Responsible</b></strong><br />
                                    @Model.Crminfo.Responsible

                                </label>
                                <input type="hidden" name="Responsible" value="@Model.Crminfo.Responsible">
                                @*  <div>
                                @Model.Basic_Information.Lead.Contact_Person
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Moving_Date">
                                   <strong><b>Moving From Date</b></strong><br />
                                  @Model.Basic_Information.Moving_Date 

                                </label>
                                <input type="hidden" name="Moving_Date" value=" @Model.Basic_Information.Moving_Date">
                                @*  <div>
                                @Model.Basic_Information.Lead.Contact_Person
                                </div> *@

                            </div>

                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="card">
                <div class="card-header" style="background-color:#901F17;">
                    <h5 class="text-light">
                        START ADDRESS
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Left Form Column -->
                        <div class="col-md-6">
                            @*   <form id="dataForm"> *@
                            <div class="mb-1">
                                <label class="form-label" for="address_1">
                                    <strong><b>Start address</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Address_1

                                </label>
                                <input type="hidden" name="Address_1" value="@Model.Basic_Information.AddressGroup.Address_1">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Type_1_Living">
                                    <strong><b>Type of residence</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Type_1_Living

                                </label>
                                <input type="hidden" name="Type_1_Living" value="@Model.Basic_Information.AddressGroup.Type_1_Living">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Living_1_Levels">
                                    <strong><b>Floors</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Living_1_Levels

                                </label>
                                <input type="hidden" name="Living_1_Levels" value="@Model.Basic_Information.AddressGroup.Living_1_Levels">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>


                            <div class="mb-1">
                                <label class="form-label" for="Living_1_Layers">
                                    <strong><b>Number of floors</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Living_1_Layers

                                </label>
                                <input type="hidden" name="Living_1_Layers" value="@Model.Basic_Information.AddressGroup.Living_1_Layers">
                                @* <div>
                                @Model.Basic_Information.AddressGroup.address_b
                                </div> *@

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <div class="form-group">
                                    <label class="from-label"><strong><b>Internal lift</b></strong></label>
                                    <input class="toggle" type="checkbox" id="Lift_1_Bool" name="Lift_1_Bool" disabled value="true" @(Model.Basic_Information.AddressGroup.Lift_2_Bool ? "checked" : "") />
                                    <label class="toggle" for="Lift_1_Bool">Internal lift</label>
                                </div>
                                <input type="hidden" name="Address_1" value="@Model.Basic_Information.AddressGroup.Address_1">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Lift_1_Distance_Door">
                                    <strong><b>Distance to front door</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Lift_1_Distance_Door

                                </label>
                                <input type="hidden" name="Lift_1_Distance_Door" value="@Model.Basic_Information.AddressGroup.Lift_1_Distance_Door">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Living_1_Levels">
                                    <strong><b>Type of move</b></strong><br />
                                    Type of move

                                </label>
                                <input type="hidden" name="Living_1_Levels" value="@Model.Basic_Information.AddressGroup.Living_1_Levels">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>


                            <div class="mb-1">
                                <div class="form-group">
                                    <label class="from-label"><strong><b>Parking ban</b></strong></label>
                                    <input class="toggle" type="checkbox" id="Parking_1_bool" name="Parking_1_bool" disabled value="true" @(Model.Basic_Information.AddressGroup.Parking_1_bool ? "checked" : "") />
                                    <label class="toggle" for="Parking_1_bool">Internal lift</label>
                                </div>
                                <input type="hidden" name="Address_1" value="@Model.Basic_Information.AddressGroup.Address_1">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="margin-top:1px">
            <div class="card">
                <div class="card-header" style="background-color:#901F17;">
                    <h5 class="text-light">
                        INTERMEDIATE ADDRESS
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Left Form Column -->
                        <div class="col-md-6">
                            @*   <form id="dataForm"> *@
                            <div class="mb-1">
                                <label class="form-label" for="address_1">
                                    <strong><b>Start address</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Address_2

                                </label>
                                <input type="hidden" name="Address_2" value="@Model.Basic_Information.AddressGroup.Address_2">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Type_2_Living">
                                    <strong><b>Type of residence</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Type_2_Living

                                </label>
                                <input type="hidden" name="Type_2_Living" value="@Model.Basic_Information.AddressGroup.Type_2_Living">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Living_2_Levels">
                                    <strong><b>Floors</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Living_2_Levels

                                </label>
                                <input type="hidden" name="Living_2_Levels" value="@Model.Basic_Information.AddressGroup.Living_2_Levels">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>


                            <div class="mb-1">
                                <label class="form-label" for="Living_2_Layers">
                                    <strong><b>Number of floors</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Living_2_Layers

                                </label>
                                <input type="hidden" name="Living_2_Layers" value="@Model.Basic_Information.AddressGroup.Living_2_Layers">
                                @* <div>
                                @Model.Basic_Information.AddressGroup.address_b
                                </div> *@

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <div class="form-group">
                                    <label class="from-label"><strong><b>Internal lift</b></strong></label>
                                    <input class="toggle" type="checkbox" id="Lift_2_Bool" name="Lift_2_Bool" disabled value="true" @(Model.Basic_Information.AddressGroup.Lift_2_Bool ? "checked" : "") />
                                    <label class="toggle" for="Lift_2_Bool">Internal lift</label>
                                </div>
                               @*  <input type="hidden" name="Address_2" value="@Model.Basic_Information.AddressGroup.Address_2"> *@
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Lift_2_Distance_Door">
                                    <strong><b>Distance to front door</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Lift_2_Distance_Door

                                </label>
                                <input type="hidden" name="Lift_2_Distance_Door" value="@Model.Basic_Information.AddressGroup.Lift_2_Distance_Door">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Living_2_Levels">
                                    <strong><b>Type of move</b></strong><br />
                                    Type of move

                                </label>
                                <input type="hidden" name="Living_2_Levels" value="@Model.Basic_Information.AddressGroup.Living_2_Levels">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>


                            <div class="mb-1">
                                <div class="form-group">
                                    <label class="from-label"><strong><b>Parking ban</b></strong></label>
                                    <input class="toggle" type="checkbox" id="Parking_2_bool" name="Parking_2_bool" disabled value="true" @(Model.Basic_Information.AddressGroup.Parking_2_bool ? "checked" : "") />
                                    <label class="toggle" for="Parking_2_bool">Parking ban  </label>
                                </div>
                                @* <input type="hidden" name="Address_1" value="@Model.Basic_Information.AddressGroup.Address_1"> *@
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="margin-top:1px">
            <div class="card">
                <div class="card-header" style="background-color:#901F17;">
                    <h5 class="text-light">END ADDRESS</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Left Form Column -->
                        <div class="col-md-6">
                            @*   <form id="dataForm"> *@
                            <div class="mb-1">
                                <label class="form-label" for="Address_3">
                                    <strong><b>Start address</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Address_3

                                </label>
                                <input type="hidden" name="Address_3" value="@Model.Basic_Information.AddressGroup.Address_3">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Type_3_Living">
                                    <strong><b>Type of residence</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Type_3_Living

                                </label>
                                <input type="hidden" name="Type_3_Living" value="@Model.Basic_Information.AddressGroup.Type_3_Living">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Living_3_Levels">
                                    <strong><b>Floors</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Living_3_Levels

                                </label>
                                <input type="hidden" name="Living_3_Levels" value="@Model.Basic_Information.AddressGroup.Living_3_Levels">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>


                            <div class="mb-1">
                                <label class="form-label" for="Living_3_Layers">
                                    <strong><b>Number of floors</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Living_3_Layers

                                </label>
                                <input type="hidden" name="Living_3_Layers" value="@Model.Basic_Information.AddressGroup.Living_3_Layers">
                                @* <div>
                                @Model.Basic_Information.AddressGroup.address_b
                                </div> *@

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <div class="form-group">
                                    <label class="from-label"><strong><b>Internal lift</b></strong></label>
                                    <input class="toggle" type="checkbox" id="Lift_3_Bool" name="Lift_3_Bool" disabled value="true" @(Model.Basic_Information.AddressGroup.Lift_3_Bool ? "checked" : "") />
                                    <label class="toggle" for="Lift_3_Bool">Internal lift</label>
                                </div>
                                @* <input type="hidden" name="Address_1" value="@Model.Basic_Information.AddressGroup.Address_1"> *@
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Lift_3_Distance_Door">
                                    <strong><b>Distance to front door</b></strong><br />
                                    @Model.Basic_Information.AddressGroup.Lift_3_Distance_Door

                                </label>
                                <input type="hidden" name="Lift_3_Distance_Door" value="@Model.Basic_Information.AddressGroup.Lift_3_Distance_Door">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>

                            <div class="mb-1">
                                <label class="form-label" for="Living_3_Levels">
                                    <strong><b>Type of move</b></strong><br />
                                    Type of move

                                </label>
                                <input type="hidden" name="Living_3_Levels" value="@Model.Basic_Information.AddressGroup.Living_3_Levels">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_c
                                </div> *@

                            </div>


                            <div class="mb-1">
                                <div class="form-group">
                                    <label class="from-label"><strong><b>Parking ban</b></strong></label>
                                    <input class="toggle" type="checkbox" id="Parking_3_bool" name="Parking_3_bool" disabled value="true" @(Model.Basic_Information.AddressGroup.Parking_3_bool ? "checked" : "") />
                                    <label class="toggle" for="Parking_3_bool">Parking ban  </label>
                                </div>
                                @* <input type="hidden" name="Address_1" value="@Model.Basic_Information.AddressGroup.Address_1"> *@
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>

        <div class="col-sm-6">

            <div class="card">
                <div class="card-header" style="background-color:#901F17;">
                    <h5 class="text-light">TO BE MOVED - INVENTORY</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Left Form Column -->
                        <div class="col-md-6">
                            @*   <form id="dataForm"> *@
                            <div class="mb-1">
                                <label class="form-label" for="Content_1">
                                    <strong><b>Inventor</b></strong><br />
                                    @Model.Basic_Information.ContentGroup.Content_1

                                </label>
                                <input type="hidden" name="Content_1" value="@Model.Basic_Information.ContentGroup.Content_1">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            <br />
                            
                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label class="form-label" for="Content_2">
                                    <strong><b>Inventory</b></strong><br />
                                    @Model.Basic_Information.ContentGroup.Content_2

                                </label>
                                <input type="hidden" name="Content_2" value="@Model.Basic_Information.ContentGroup.Content_2">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            <br />
                        </div>   
                    </div>
                       
                    </div>
                </div>
            </div>
        <div class="col-sm-6">

            <div class="card">
                <div class="card-header" style="background-color:#901F17;">
                    <h5 class="text-light"> TASKS</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Left Form Column -->
                        <div class="col-md-6">
                            @*   <form id="dataForm"> *@
                            <div class="mb-1">
                                <div class="form-group">
                                    <label class="from-label"><strong><b>(Dis)assembly of furniture</b></strong></label>
                                    <input class="toggle" type="checkbox" id="Furniture_Assembly_Bool" name="Furniture_Assembly_Bool" disabled value="true" @(Model.Basic_Information.Activitiesgroup.Furniture_Assembly_Bool ? "checked" : "") />
                                    <label class="toggle" for="Furniture_Assembly_Bool">(Dis)assembly of furniture  </label>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label class="form-label" for="Items_To_Assemble">
                                    <strong><b>Items to disassemble</b></strong><br />
                                    @Model.Basic_Information.Activitiesgroup.Items_To_Assemble

                                </label>
                                <input type="hidden" name="Items_To_Assemble" value="@Model.Basic_Information.Activitiesgroup.Items_To_Assemble">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header" style="background-color:#901F17;">
                    <h5 class="text-light">MATERIALS</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Left Form Column -->
                        <div class="col-md-6">
                            @*   <form id="dataForm"> *@
                            <div class="mb-1">
                                <label class="form-label" for="boxes">
                                    <strong><b>Moving Boxes</b></strong><br />
                                    @Model.Basic_Information.MaterialGroup.boxes

                                </label>
                                <input type="hidden" name="boxes" value="@Model.Basic_Information.MaterialGroup.boxes">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                           
                            <div class="mb-1">
                                <label class="form-label" for="wardrobe_boxes">
                                    <strong><b>Wardrobe boxes</b></strong><br />
                                    @Model.Basic_Information.MaterialGroup.wardrobe_boxes

                                </label>
                                <input type="hidden" name="wardrobe_boxes" value="@Model.Basic_Information.MaterialGroup.wardrobe_boxes">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                          
                            <div class="mb-1">
                                <label class="form-label" for="folieboxes">
                                    <strong><b>Blanket pads</b></strong><br />
                                    @Model.Basic_Information.MaterialGroup.folie

                                </label>
                                <input type="hidden" name="folieboxes" value="@Model.Basic_Information.MaterialGroup.folie">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label class="form-label" for="boxes_update">
                                    <strong><b>Moving Boxes Update</b></strong><br />
                                    @* @Model.Basic_Information.MaterialGroup.boxes_update *@

                                </label>
                                <input type="text"  class="form-control" name="boxes_update" value="@Model.Basic_Information.MaterialGroup.boxes_update">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="wardrobe_boxes_update">
                                    <strong><b>Wardrobe boxes Update</b></strong><br />
                                    @*  @Model.Basic_Information.MaterialGroup.wardrobe_boxes_update *@

                                </label>
                                <input type="text"  class="form-control" name="wardrobe_boxes_update" value="@Model.Basic_Information.MaterialGroup.wardrobe_boxes_update">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="folie_update">
                                    <strong><b>Blanket pads Update</b></strong><br />
                                    @* @Model.Basic_Information.MaterialGroup.folie_update *@

                                </label>
                                <input type="text"  class="form-control" name="folie_update" value="@Model.Basic_Information.MaterialGroup.folie_update">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            
                        </div>
                    </div>
                    </div>
                </div>
            </div>
      





        <div class="col-sm-6" style="margin-top:1px">
            <div class="card">
                <div class="card-header" style="background-color:#901F17;">
                    <h5 class="text-light"> PREFERRED DATE</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Left Form Column -->
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label class="form-label" for="option1">
                                    <strong><b>Option1</b></strong><br />
                                    @Model.Basic_Information.PreferedDatesGroup.option1

                                </label>
                                <input type="hidden" name="option1" value="@Model.Basic_Information.PreferedDatesGroup.option1">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="option2">
                                    <strong><b>Option2</b></strong><br />
                                    @Model.Basic_Information.PreferedDatesGroup.option2

                                </label>
                                <input type="hidden" name="option2" value="@Model.Basic_Information.PreferedDatesGroup.option2">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="option3">
                                    <strong><b>Option2</b></strong><br />
                                    @Model.Basic_Information.PreferedDatesGroup.option3

                                </label>
                                <input type="hidden" name="option3" value="@Model.Basic_Information.PreferedDatesGroup.option3">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            <br />
                            <br />
                            <br />



                        </div>
                        <div class="col-md-6">
                            
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div class="col-sm-6" style="margin-top:1px">
            <div class="card">
                <div class="card-header" style="background-color:#901F17;">
                    <h5 class="text-light">Extra_info_group</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Left Form Column -->
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label class="form-label" for="extra_info">
                                    <strong><b>Extra Info</b></strong><br />
                                    @Model.Basic_Information.Extra_Info_Group.extra_info

                                </label>
                                <input type="hidden" name="extra_info" value="@Model.Basic_Information.Extra_Info_Group.extra_info">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="estimated_movers">
                                    <strong><b>Estimation of movers</b></strong><br />
                                    @Model.Basic_Information.Extra_Info_Group.estimated_movers

                                </label>
                                <input type="hidden" name="estimated_movers" value=" @Model.Basic_Information.Extra_Info_Group.estimated_movers">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="estimated_movers_update">
                                    <strong><b>Estimation of movers Update</b></strong><br />
                                   @*  @Model.Basic_Information.Extra_Info_Group.estimated_movers_update *@

                                </label>
                                <input type="text"  class="form-control" name="estimated_movers_update" value=" @Model.Basic_Information.Extra_Info_Group.estimated_movers_update">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="type_moving_wagen">
                                    <strong><b>Type of moving truck</b></strong><br />
                                    @Model.Basic_Information.Extra_Info_Group.type_moving_wagen

                                </label>
                                <input type="hidden" name="type_moving_wagen" value=" @Model.Basic_Information.Extra_Info_Group.type_moving_wagen">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="mb-1">
                                <label class="form-label" for="start_time">
                                 <strong><b>Start time</b></strong><br />
                                   @*  @Model.Basic_Information.Extra_Info_Group.start_time  *@

                                </label>
                                <input type="datetime-local" class="form-control" name="start_time" value="@Model.Basic_Information.Extra_Info_Group.start_time">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>
                            <div class="mb-1">
                                <label class="form-label" for="end_time">
                                   <strong><b>End time</b></strong><br />
                                   @*  @Model.Basic_Information.Extra_Info_Group.estimated_movers *@
 
                                </label>
                                <input type="datetime-local" class="form-control" name="end_time" value="@formattedEndTime">
                                @*  <div>
                                @Model.Basic_Information.AddressGroup.address_a
                                </div> *@

                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <div id="result-popup" class="popup">
        <div class="popup-content">
            <span id="result-message"></span><br /><br />
            <button id="result-ok" class="popup-button">OK</button>
        </div>
    </div>

    <footer>
        <div class="md-12" style="position: fixed; bottom: 20px; right: 20px; display: flex; justify-content: end; gap: 10px;">
            <button type="button" class="btn" style="background-color:#dddd; color:black; padding: 10px 20px; border-radius: 25px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" onclick="redirectToIndex()">Cancel</button>
            <button type="button" id="saveButton" class="btn" style="background-color:#901F17; color:#fff; padding: 10px 20px; border-radius: 25px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" onclick="saveData()">Save</button>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function redirectToIndex() {
            window.location.href = '/Home/Index';
        }

        document.addEventListener('DOMContentLoaded', function () {
            const dateField = document.getElementById('Client_Arrival_Date');
            const timeField = document.getElementById('Client_Arrival_Time');
            const hiddenField = document.getElementById('Client_Arrival_Time_update');

            function getCurrentTime() {
                const now = new Date();
                const hours = now.getHours().toString().padStart(2, '0');
                const minutes = now.getMinutes().toString().padStart(2, '0');
                return `${hours}:${minutes}`;
            }

            timeField.addEventListener('input', function () {
                const timeValue = timeField.value || getCurrentTime();
                if (dateField.value) {
                    hiddenField.value = `${dateField.value}T${timeValue}`;
                }
            });


            if (dateField.value) {
                const timeValue = timeField.value || getCurrentTime();
                hiddenField.value = `${dateField.value}T${timeValue}`;
            }
        });

        function showResultPopup(message) {
            const popup = document.getElementById('result-popup');
            const popupMessage = document.getElementById('result-message');
            const popupOk = document.getElementById('result-ok');

            popupMessage.textContent = message;
            popup.style.display = 'block';

            popupOk.onclick = function () {
                popup.style.display = 'none';
            };
        }


        function saveData() {
            debugger;
            const form = document.getElementById('dataForm');
            const formData = new FormData(form);
            const data = {};
            formData.forEach((value, key) => {
                let keys = key.split(/[\[\]\.]/).filter(Boolean);
                if (keys.length === 3) {
                    let [arrayName, index, field] = keys;
                    if (!data[arrayName]) {
                        data[arrayName] = [];
                    }
                    if (!data[arrayName][index]) {
                        data[arrayName][index] = {};
                    }
                    data[arrayName][index][field] = value;
                } else {
                    data[key] = value;
                }
            });


            console.log(data);
            const checkboxes = form.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach((checkbox) => { data[checkbox.name] = checkbox.checked });

            const saveButton = document.getElementById('saveButton');

            // Disable the button and change the text to "Saving..."
            saveButton.disabled = true;
            saveButton.textContent = 'Saving...';

            fetch('/Home/Save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(result => {
                    if (result.success) {
                        // Change button text to "Saved"
                        saveButton.textContent = 'Saved';
                        saveButton.disabled = false;
                        showResultPopup('Data saved successfully.');
                    } else {
                        // Reset button state on failure
                        saveButton.textContent = 'Save';
                        saveButton.disabled = false;
                        showResultPopup(result.message || 'Failed to save data.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    saveButton.textContent = 'Save';
                    saveButton.disabled = false;
                });
        }


        function increment(button) {
            const inputElement = button.previousElementSibling;
            let value = parseInt(inputElement.value, 10);
            if (isNaN(value)) {
                value = 0;
            }
            value += 1;
            inputElement.value = value;
        }

        function decrement(button) {
            var num = button.nextElementSibling;
            num.value = parseInt(num.value) - 1;
        }
    </script>



</form>
@* </body>
</html>

 *@     